.idea/
.gradle/
build/
out/

# the downloaded corpus should not be checked in
corpus*/

# Jazzer and JaCoCo application files
/jazzer
/jazzer.exe
/jazzer_agent_deploy.jar
/jazzer_api_deploy.jar
/jazzer-*.tar.gz
/jacoco-*.zip
/jazzer_standalone.jar

# Jazzer result/crash files
/crash-*
/Crash_*.java
/slow-unit-*
/oom-*
